@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:regular,500,600,700&display=swap');

:root {
  --primery-color: #181817;
  --secondary-color: #6F6F6F;
  --accent-color: #F6D88C;
  --common-white: #F8F3EC;
  --main-font: 'Darker Grotesque', sans-serif;
  --title-size: 65px;
  --text-size: 22px;
}


.container {
  max-width: 2000px;
  margin: 0 auto;
}

/* ==================== HEADER  ============================== */

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 55px 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(110, 110, 110, 0.3);
}



.header {
  padding: 30px 15px 0 15px;
  background: #F8F3EC;

}

.navigation {
  font-family: var(--main-font);
  font-size: var(--text-size);
}

.navigation__list {
  display: flex;
  gap: 40px;

}

.navigation__item {}

.navigation__link {
  color: var(--secondary-color);
}

.logo {
  color: var(--primery-color);
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 700;

}

.logo__dot {
  color: var(--accent-color);
}




.social__link:not(:last-of-type) {
  margin-right: 20px;
}

/* ====================== HERO ========================== */
.hero {
  padding: 65px 0 55px;
  background: var(--common-white);
}

.hero .container{
  display: flex;
  justify-content: center;
  gap: 130px;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 82px;
  line-height: 71px;
  color: var(--primery-color);
  max-width: 500px;
  margin-bottom: 20px;
}

.hero__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  color: var(--secondary-color);
  max-width: 370px;
  margin-bottom: 40px;
}

.hero__btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 23px;
  line-height: 31px;
  max-width: 200px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 16px;
  padding: 20px 36px;
  text-transform: uppercase;
}

.hero__img:first-child {
  margin-right: 14px;
}


.hero__images{
  font-size: 0;
}

.hero__block{
}

.hero__img{
  width: 278px;
  height: 653px;
}

