@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:regular,500,600,700&display=swap');

:root {
  --primery-color: #181817;
  --secondary-color: #6F6F6F;
  --accent-color: #F6D88C;
  --common-white: #F8F3EC;
  --main-font: 'Darker Grotesque', sans-serif;
  --title-size: 65px;
  --text-size: 22px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 23px;
  padding: 22px 45px;
  text-transform: uppercase;
  border-radius: 16px;
  cursor: pointer;
  transition: opacity 1s;
}

.btn:hover {
  opacity: 0.8;
}

.btn--yellow {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 23px;
  line-height: 31px;
  max-width: 200px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 16px;
  padding: 20px 36px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.7s;
}

.btn--yellow:hover {
  opacity: 0.7;
}

.text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.6;
  transition: all 1s;
}

.text:hover {
  opacity: 1;
}

/* ==================== HEADER  ============================== */

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 55px 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(110, 110, 110, 0.3);
}


.header {
  padding: 30px 15px 0 15px;
  background: #F8F3EC;
}

.navigation {
  font-family: var(--main-font);
  font-size: var(--text-size);
}

.navigation__list {
  display: flex;
  gap: 40px;

}

.navigation__link {
  position: relative;
  color: var(--secondary-color);
}

.navigation__link:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--accent-color);
  position: absolute;
  bottom: -5px;
}

.logo {
  color: var(--primery-color);
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 700;

}

.logo__dot {
  color: var(--accent-color);
}

.social__link:not(:last-of-type) {
  margin-right: 20px;
}

.social__img {
  transition: 0.7s;
}

.social__img:hover {
  transform: scale(1.2);
  background: var(--accent-color);
  border-radius: 50%;
}

/* ====================== HERO ========================== */
.hero {
  padding: 65px 0 55px;
  background: var(--common-white);
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 82px;
  line-height: 71px;
  color: var(--primery-color);
  max-width: 500px;
  margin-bottom: 20px;
}

.hero__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  color: var(--secondary-color);
  max-width: 370px;
  margin-bottom: 40px;
}

.hero__img:first-child {
  margin-right: 14px;
}

.hero__images {
  font-size: 0;
}

.hero__img {
  width: 278px;
  height: 653px;
}

/* ================= CLIENTS ============================== */
.clients {
  display: flex;
  margin: 100px auto 160px;
  justify-content: space-between;
  align-items: center;
}

.clients__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  cursor: pointer;
}

.clients__img:hover {
  transform: scale(1.2);
}

.clients__block {
  padding: 0 30px;
  position: relative;
}

.clients__block::before {
  content: "";
  height: 100%;
  width: 5px;
  background: var(--accent-color);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.clients__title {
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 600;
  line-height: 35px;
  color: var(--primery-color);
  max-width: 315px;
  margin-bottom: 9px;
}

.clients__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 26px;
  max-width: 295px;

  color: var(--secondary-color);
}

.clients__img {
  max-width: 225px;
  height: 92px;
  transition: 0.7s;
}

/* =================== DESCRIPTION  ======================= */
.description {
  background: var(--primery-color);
  color: #fff;
  padding: 118px 0;
}

.description .container {
  display: flex;
  gap: 276px;
}

.description__title {
  font-family: var(--main-font);
  font-size: var(--title-size);
  letter-spacing: -0.02em;
  font-weight: 600;
  line-height: 54px;
  max-width: 460px;
  margin-bottom: 40px;
}

.description__list {
  margin-bottom: 28px;
  max-width: 306x;
}

.description__item {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--text-size);
  line-height: 30px;
  padding-left: 37px;
  background: url(../img/description/item.svg) 0 6px no-repeat;
}


.description__item:not(:last-child) {
  margin-bottom: 20px;
}

.description__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  opacity: 0.6;
  margin-bottom: 40px;
}

.description__btn {
  max-width: 186px;
  color: var(--primery-color);
  background: var(--common-white);
}

.description__img {
  position: relative;
}

.description__img--main {
  position: relative;
}

.description__img--small {
  position: absolute;
  bottom: 17%;
  right: -41%;
}

/* ======================  VIDEO ================================ */
.video-container {
  max-width: 1600px;
  margin: 0 auto;
}


/* ======================== PROVIDE  ========================= */
.provide {
  background: #F8F3EC;
  padding: 161px 0 100px;
}

.provide .container {
  text-align: center;
}

.provide__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--title-size);
  line-height: 54px;
  letter-spacing: -0.02em;
  color: var(--primery-color);
  margin-bottom: 30px;
}

.provide__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  color: var(--secondary-color);
  max-width: 514px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.provide__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: left;

}

.item-provide {
  max-width: 370px;
  padding: 50px 60px 46px;
  background: #EAE4DC;
  flex: 0 1 370px;
  transition: 1s;
}

.item-provide:hover {
  transform: translateY(-30px);
}

.item-provide__img {
  margin-bottom: 24px;
}

.item-provide__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 56px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: var(--primery-color);
  max-width: 224px;
  margin-bottom: 10px;

}

.item-provide__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  color: var(--secondary-color);
  max-width: 247px;
  margin-bottom: 30px;
}

.item-provide__link {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 23px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--primery-color);
  text-decoration-line: underline;
}

.item-provide__link:hover {
  opacity: 0.7;
}


/* ====================== FEEDBACK  ======================== */
.feedback {
  display: flex;
  justify-content: center;
  gap: 170px;
  margin: 70px auto 160px;
}

.feedback-block {
  max-width: 470px;
  align-self: center;
}

.stars {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.stars__number {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--primery-color);
}

.stars__block {
  display: flex;
}

.stars__item:not(:last-of-type) {
  color: #F6D88C;
}

.stars__item:last-of-type {
  color: rgba(246, 216, 140, 0.5);
}

.feedback-block__text {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 42px;
  line-height: 47px;
  color: var(--primery-color);
  max-width: 475px;
  margin-bottom: 30px;
}

.user {
  display: flex;
  gap: 15px;
  align-items: center;
}

.user__name {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--text-size);
  line-height: 30px;
  color: var(--primery-color);
  margin-bottom: 3px;
}

.user__position {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--secondary-color);
  opacity: 0.6;
}

.feedback__img {
  position: relative;
}

.feedback__img-main {
  position: relative;
}

.feedback__img-slack {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* ===============================  0FFER  =============================== */
.offer {
  background: var(--primery-color);
  color: #fff;
  padding: 109px 0;
  position: relative;
}

.offer .container {
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.offer__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 82px;
  line-height: 71px;
  letter-spacing: -0.02em;
  max-width: 901px;
  text-align: center;
  margin: 0 auto 20px;
}

.offer__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  opacity: 0.7;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 582px;

}

.offer__btn {
  color: var(--primery-color);
}


.decor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor__item {
  position: absolute;
}

.decor-item--1 {
  background: url(../img/offer/decor1.png) 0 0 no-repeat;
  width: 369px;
  height: 350px;
  left: 0;
  top: 0;
}


.decor-item--2 {
  background: url(../img/offer/decor2.png) 0 0 no-repeat;
  width: 425px;
  height: 550px;
  right: 0;
  bottom: -33%;
}

/* ========================= BLOG  ========================== */
.blog {
  margin: 160px auto 161px;
}

.blog__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--title-size);
  line-height: 54px;
  letter-spacing: -0.02em;
  color: var(--primery-color);
  margin-bottom: 20px;
}

.blog__read {
  display: flex;
  gap: 317px;
  margin-bottom: 96px;
}

.blog__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  max-width: 453px;
  color: var(--secondary-color);
}

.blog__btn {
  background: var(--primery-color);
  color: #F6D88C;
  padding: 18px 31px 21px 45px;
}

.item-blog {
  transition: 1s;
}

.item-blog:hover {
  transform: scale(1.1);
}

.blog__list {
  display: flex;
  gap: 76px;
}

.item-blog__item {
  margin-bottom: 24px;
}

.item-blog__number {
  font-family: var(--main-font);
  font-weight: 600;
  line-height: 30px;
  color: #F29764;
  margin-bottom: 4px;
}

.item-blog__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 15px;
  max-width: 472px;
}

.item-blog__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--secondary-color);
  line-height: 25px;
  color: var(--secondary-color);
  max-width: 520px;
  margin-bottom: 16px;
}

.item-blog__link {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 23px;
  line-height: 31px;
  color: var(--primery-color);
  transition: 1s;
}

.item-blog__link:active,
.item-blog__link:hover {
  text-decoration-line: underline;
}


/* ======================== INFO  ========================== */
.info {
  background: var(--primery-color);
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 76px 0 57px;
}

.info__socials .logo {
  color: #fff;
}

.info__text {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 27px;
  opacity: 0.7;
  max-width: 370px;
  text-align: center;
  margin: 15px auto 28px;
}

.info__socials {
  margin-bottom: 72px;
}

.sub {
  margin-bottom: 136px;
}

.sub__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}

.sub__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  opacity: 0.7;
  margin-bottom: 50px;
}

.form {
  max-width: 657px;
  display: flex;
  margin: 0 auto;

}

.form__input {
  padding: 33px 32px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background: transparent;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
}

.form__input::placeholder {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);

}

.form__btn {
  padding: 35px 39px;
  background: var(--primery-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 23px;
  line-height: 31px;
  text-transform: uppercase;
  color: #F6D88C;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.address {
  display: flex;
  justify-content: center;
  gap: 130px;
  max-width: 1016px;
  margin: 0 auto;
}

.email__text,
.calls__text,
.lacation__text {
  margin-bottom: 10px;
  text-align: left;
}


.email__post,
.calls__phone,
.lacation__text-address {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 38px;
  text-align: left;
  display: inline-block;
  letter-spacing: -0.03em;
  transition: 0.7;
}

.email__post:hover,
.calls__phone:hover,
.lacation__text-address:hover {
  color: var(--accent-color);
}

.calls__phone:not(:last-of-type) {
  margin-bottom: 8px;
}

.calls {
  text-align: left;
}

.lacation {
  max-width: 290px;
  text-align: left;
}

/* =================   FOOTER ========================= */
.footer {
  background: var(--primery-color);
  border-top: 2px solid rgba(243, 239, 228, 0.1);
  padding: 30px 0 47px;

}

.footer-container {
  max-width: 1157px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.license {
  opacity: 0.3;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--text-size);
  line-height: 26px;
  color: #FFFFFF;
}

.footer__link:not(:last-of-type) {
  margin-right: 32px;
}

.footer__link {
  opacity: 0.4;
}